In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter


def split_function(x):
    return x.split('|')


def cut_date(x):
    return x.month

In [2]:
data = pd.read_csv('movie_bd_v5.xls') 
# My Windows settings don't allow me to change file extensions 
# I use corporate laptop now, so, need to keep .xls extension
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
313,tt0365929,40000000,12206028,Whiteout,Kate Beckinsale|Gabriel Macht|Tom Skerritt|Col...,Dominic Sena,See Your Last Breath,"The only U.S. Marshal assigned to Antarctica, ...",101,Action|Crime|Mystery|Thriller,StudioCanal|Dark Castle Entertainment|Don Carm...,9/9/2009,5.2,2009
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004
843,tt0844993,30000000,13521829,Hoodwinked Too! Hood VS. Evil,Hayden Panettiere|Bill Hader|Joan Cusack|Patri...,Mike Disa,Not All Fairy Tales Go By the Book.,Red Riding Hood is training in the group of Si...,86,Comedy|Animation|Family,HW Two,4/29/2011,4.9,2011
520,tt0277371,16000000,66468332,Not Another Teen Movie,Chyler Leigh|Chris Evans|Jaime Pressly|Eric Ch...,Joel Gallen,They served you Breakfast. They gave you Pie. ...,"On a bet, a gridiron hero at John Hughes High ...",89,Comedy,Original Film|Columbia Pictures Corporation|Ne...,12/7/2001,5.3,2001
1218,tt1288558,17000000,97542952,Evil Dead,Jane Levy|Jessica Lucas|Shiloh Fernandez|Lou T...,Fede Alvarez,The most terrifying film you will ever experie...,"Evil Dead, the fourth installment of the Evil ...",91,Horror,TriStar Pictures|Ghost House Pictures|FilmDist...,4/5/2013,6.3,2013

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Data preparation

In [4]:
data = pd.read_csv('movie_bd_v5.xls') 
answers = {} # create dictionary for answers

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   datetime64[ns]
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(8)
memory usage: 206.7+ KB
None

# 1. Which movie has the largest budget?

In [5]:
# Insert question number and answer into the dict
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [6]:
# Here is the code, getting the answer
data[data.budget == data.budget.max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

# 2. Which movie is the longest (minutes)?

In [7]:
answers['2'] = 'Gods and Generals'

In [8]:
# Same logic as for previous task
data[data.runtime == data.runtime.max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. What is the shortest movie (minutes)?

In [9]:
answers['3'] = 'Winnie the Pooh'

In [10]:
# Same logic as for previous task
data[data.runtime == data.runtime.min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. What is the average movies' runtime?

In [11]:
answers['4'] = 110

In [12]:
# Calculate usning "mean" function and round to integer
round(data.runtime.mean(),0)

110.0

# 5. What is the median value of movies' runtime?

In [13]:
answers['5'] = 107

In [14]:
# Same logic, but no need to round as it's median of integers
data.runtime.median()

107.0

# 6. What is the most profitable movie?

In [15]:
answers['6'] = 'Avatar'

In [16]:
# I've not created profit column in data preparation, so let's do it now. Then logic is the same
data['profit'] = data['revenue'] - data['budget']
data[data.profit == data.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Which movie has the largest losses?

In [17]:
answers['7'] = 'The Lone Ranger'

In [18]:
# Same logic as in previous point
data[data.profit == data.profit.min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. How many movies are profitable within the dataset?

In [19]:
answers['8'] = 1478

In [20]:
# Use "count" function with criteria "profit > 0"
data[data.profit > 0]['imdb_id'].count()

1478

# 9. Which movie had the largest revenue in 2008?

In [21]:
answers['9'] = 'The Dark Knight'

In [22]:
# Firstly, create sub_dataset with 2008 movies then apply "max" function to its revenue
movies_2008 = data[(data.release_year == 2008)]
movies_2008[movies_2008.revenue == movies_2008.revenue.max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. The most unprofitable movie between 2012 and 2014 (included)?

In [23]:
answers['10'] = 'The Lone Ranger'

In [24]:
# Similar logic is being used but here are 2 criteria for sub_dataset
movies_2012_2014 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
movies_2012_2014[movies_2012_2014['profit'] == movies_2012_2014['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. What is the most frequent genre in dataset?

In [25]:
answers['11'] = 'Drama'

In [26]:
# One movie can consist more than one genre. Need to separate genres first  
# Then Counter function can be applied
genres = data['genres'].str.cat(sep='|')
Counter(genres.split('|'))

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [27]:
"""Second option is to apply split_function defined before
along with built-in: value_counts and explode. 
Explode method transforms each element of a list-like to a row, 
replicating index values."""
genres = data.copy()
genres.genres = genres.genres.apply(split_function)
print(genres.explode('genres').genres.value_counts())

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Which genre is the most profitable?

In [28]:
# Any of 2 options above can be used here. Let's do 1 option last time.
# In the following tasks split_function will be applied
profitable_movies = data[data['profit'] > 0]
Counter(profitable_movies['genres'].str.cat(sep='|').split('|'))

Counter({'Action': 444,
         'Adventure': 337,
         'Science Fiction': 195,
         'Thriller': 446,
         'Fantasy': 188,
         'Crime': 231,
         'Western': 12,
         'Drama': 560,
         'Family': 226,
         'Animation': 120,
         'Comedy': 551,
         'Mystery': 119,
         'Romance': 242,
         'War': 41,
         'History': 46,
         'Music': 47,
         'Horror': 150,
         'Documentary': 7})

In [29]:
answers['12'] = 'Drama'

# 13. Which director has the largest revenue(summed up)?

In [30]:
answers['13'] = 'Peter Jackson'

In [31]:
# Here is the similar logic like in 11 (option 2):
# Create copy of dataset, split directors with defined function, apply explode, sum and sort methods.
directors = data.copy()
directors.director = directors.director.apply(split_function)
directors_exploded = directors.explode('director')
directors_exploded.groupby('director').revenue.sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Which director has most Action movies?

In [32]:
answers['14'] = 'Robert Rodriguez'

In [33]:
# Here stack() function is used instead of explode. 
# It's just to show different ways to get the same results
action_movies = data[data.genres.str.contains('Action', na=False)]
action_movies['director'].str.split('|', expand=True).stack().value_counts()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Vicky Jenson          1
Sean McNamara         1
Mabrouk El Mechri     1
Tom Dey               1
Eli Roth              1
Length: 364, dtype: int64

# 15. Movies with wich actor got the highest revenue in 2012?

In [34]:
answers['15'] = 'Chris Hemsworth'

In [35]:
movies_2012 = data[data['release_year'] == 2012]
movies_2012.cast = movies_2012.cast.apply(split_function)
movies_exploded = movies_2012.explode('cast')
print(movies_exploded.groupby('cast').revenue.sum().sort_values(ascending=False))

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

C:\Users\victor.kovatsenko\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 16. Which actor has been casted in the most high-budget movies?

In [36]:
answers['16'] = 'Matt Damon'

In [37]:
# Just to make it clear: high-budget means budget > budget.mean()
# The idea below is the same as previous
high_budget_movies = data[data.budget > data.budget.mean()]
high_budget_movies.cast = high_budget_movies.cast.apply(split_function)
high_budget_movies.explode('cast').cast.value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Holliday Grainger     1
Jodelle Ferland       1
MaÃ¯ Anh Le           1
Marlon Brando         1
Min Tanaka            1
Name: cast, Length: 1505, dtype: int64

# 17. In which genre Nicolas Cage was casted most?

In [38]:
answers['17'] = 'Action'

In [39]:
cage_films = data[['cast', 'genres']]
cage_films = cage_films[cage_films.cast.str.contains('Nicolas Cage', na=False)]
cage_films.genres = cage_films.genres.apply(split_function)
cage_films.explode('genres').genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. The most unprofitable movie for Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker'

In [41]:
# Using .str.contains() method  to find all movies where Paramount Pictures was involved
# Then find min profit
paramount = data[data.production_companies.str.contains('Paramount Pictures')]
paramount[paramount['profit'] == paramount['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Which year was the best in terms of revenue?

In [42]:
answers['19'] = 'K-19: The Widowmaker'

In [43]:
# Pivot table can be used to find quick answer, set years as indexes and sum up revenues. 
# Than find max revenue
pivot = data.pivot_table(index='release_year',
                         values='revenue',
                         aggfunc='sum')

pivot[pivot['revenue'] == pivot['revenue'].max()]

                  revenue
release_year
2015          25449202382

# 20. Which year was the most profitable for Warner Bros?

In [44]:
answers['20'] = 2014

In [45]:
# Create sub dataset with the studio's movies and apply pivot_table as above 
warner_brothers = data[data.production_companies.str.contains('Warner Bros')]
pivot_2 = warner_brothers.pivot_table(index='release_year',
                                      values='revenue',
                                      aggfunc='sum')


pivot_2[pivot_2['revenue'] == pivot_2['revenue'].max()]

                 revenue
release_year
2014          3243064519

# 21. In which month the movies were released most?

In [46]:
answers['21'] = 'September'

In [47]:
# Apply cut_date function defined before to get month index separately, then count values
data.release_date = data.release_date.apply(cut_date)
data.release_date.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. How many movies were released in summer (June, July, August)?

In [48]:
answers['22'] = 450

In [49]:
# Let's use "for" cycle just to divercify
count = 0
for i in data['release_date']:
    if i == 6 or i == 7 or i == 8:
        count += 1

count

450

# 23. For which director winter is the most productive time?

In [50]:
answers['23'] = 'Peter Jackson'

In [51]:
# Use .isin method to localize months we need (1,2 and 12). Then apply split, explode and value_counts
winter = data[data.release_date.isin([1, 2, 12])]
winter.director = winter.director.apply(split_function)
winter.explode('director')['director'].value_counts()

C:\Users\victor.kovatsenko\Anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Shawn Levy           4
Martin Scorsese      4
                    ..
Danny Boyle          1
James Cameron        1
Mikael HÃ¥fstrÃ¶m    1
James Wong           1
Louis Leterrier      1
Name: director, Length: 358, dtype: int64

# 24. Which production company gives the longest names for its movies?

In [52]:
answers['24'] = 'Four By Two Productions'

In [53]:
# Create empty list and put title lenghth into
lengths = []
for title in data['original_title']:
    x = len(title)
    lengths.append(x)
       
# Add title_lenghts column to initial dataset
data['title_length'] = lengths

# Make dataset copy, apply split function, explode and groupby with "mean" method
production = data.copy()
production.production_companies = production.production_companies.apply(split_function)
production = production.explode('production_companies')
production.groupby(['production_companies'])['title_length'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Which production company gives the longest overviews for its movies?

In [56]:
answers['25'] = 'Midnight Picture Show'

In [57]:
# Use the same logic as above. Production dataframe can be overwritten
lengths_2 = []
for description in data['overview']:
    x = len(description)
    lengths_2.append(x)

data['description_length'] = lengths_2
production = data.copy()
production.production_companies = production.production_companies.apply(split_function)
production = production.explode('production_companies')
production.groupby(['production_companies'])['description_length'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: description_length, Length: 1771, dtype: float64

# 26. Which movies are in 1% best? 
according to vote_average

In [58]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [62]:
# Localize and sort 
best_of_the_best = data[['original_title', 'vote_average']].sort_values(by='vote_average', ascending=False)

# Using .quantile(0.99) method, we can make a simple comparison and get the required movies list
print(best_of_the_best[best_of_the_best['vote_average'] > float(best_of_the_best.quantile(0.99))])

                                     original_title  vote_average
599                                 The Dark Knight           8.1
118                                    Interstellar           8.0
125                              The Imitation Game           8.0
9                                        Inside Out           8.0
34                                             Room           8.0
1183                        The Wolf of Wall Street           7.9
128                                       Gone Girl           7.9
1191                               12 Years a Slave           7.9
119                         Guardians of the Galaxy           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1800                                        Memento           7.9
370                                       Inception           7.9
872                                     The Pianist           7.9
138                        The Grand Budapest Hotel           7.9

# 27. Which actors cast together most frequently?

In [63]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [65]:
# Import combinations for the task
from itertools import combinations

# Create the cast list, using
all_cast = data.cast.str.split("|").tolist()

# Create pair list and add actor pairs using combinations of 2
pair_list = []
for actor in all_cast:
    for pair in combinations(actor, 2):
        pair_list.append(' & '.join(sorted(pair))) # sorted to avoid duplicated
        
# Transfer the list into DataFrame
pair_list = pd.DataFrame(pair_list)

# Name the column and get first 5 values
pair_list.columns = ['cast_combo']
pair_list.cast_combo.value_counts().head(5)

Daniel Radcliffe & Rupert Grint       8
Emma Watson & Rupert Grint            8
Daniel Radcliffe & Emma Watson        8
Helena Bonham Carter & Johnny Depp    6
Ben Stiller & Owen Wilson             6
Name: cast_combo, dtype: int64

# Submission

In [66]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 'K-19: The Widowmaker',
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [67]:
len(answers)

27